<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<h1> Welcome to Azure Devops Demo!  </h1>
<h2> Build version number {{version.version}} </h2>
<body>
  <img src="DevOps.jpg" alt="Devops" width="500" height="333">
</body>
<!-- <nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="business/create" class="nav-link" routerLinkActive="active">
          Create Business
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="business" class="nav-link" routerLinkActive="active">
          Business
        </a>
      </li> 
    </ul>
  </div>
</nav> -->
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>